<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <h1>test</h1>
    <header>
        <a href="{% url 'users:login' %}">Login</a>
        {% block search-bar %}
            <form method="get" action="{% url 'core:search' %}">
                <input value="" name="search_value" placeholder="Search By City"/>
            </form>
        {% endblock search-bar %}
    </header>
    {% block content %}{% endblock %}
</body>

</html>